<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>BNV Calculators</title>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.1/css/tachyons.min.css"/>
    <%- css('index.css') %>

    <script>
      var preload = {
        account: <%- account %>,
        host: '<%- host %>'
      };
    </script>
  </head>
  <body>
    <div class="bnv sans-serif dark-gray"></div>
    <%- js('index.js') %>
  </body>
</html>
