<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>BNV Calculators</title>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.1/css/tachyons.min.css"/>
    <%- css('signin.css') %>
  </head>
  <body>
    <div class="bnv-signin pa4 dark-gray sans-serif">
      <div class="measure center pb4 tc">
        <img class="w-50" src="/public/img/bnv-logo.png">
      </div>

      <% if (isSubmitted) { %>
        <div class="measure center">
          <p class="f2 fw6 pb2 ph0 ma0 mh0">Welcome back!</p>
          <p class="lh-copy ma0 mt3">Please check you email inbox for a message containing a link to complete the sign-in process. If you did not receive this email, please contact <a class="blue no-underline underline-hover" href="mailto:help@bnv.io">help@bnv.io</a>.</p>
        </div>
      <% } else { %>
        <form action="/signin" class="measure center" method="POST">
          <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
            <% if (errorCode === 404) { %>
              <div class="bg-washed-red mb3 pa3 red">
                <strong>We have a problem.</strong> The email address below does not match an active account. Check your typing and try again.
              </div>
            <% } else if (errorCode) { %>
              <div class="bg-washed-red mb3 pa3 red">
                <strong>We have a problem.</strong> An unknown error occured. Please try again. (Error code: <%= errorCode %>)
              </div>
            <% } %>
            <legend class="f2 fw6 pb2 ph0 mh0">Hello!</legend>
            <div>
              <label class="db fw6 lh-copy" for="input-email">What is your email address?</label>
              <input class="pa2 input-reset ba bg-transparent w-100" id="input-email" type="email" name="email">
            </div>
          </fieldset>
          <div class="tr pb4">
            <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Get signin link">
          </div>
          <p class="lh-copy ma0 pb3">
            This website provides a simulated decision engine for a variety of entrepreneurial scenarios faced by teams participating in <a class="blue no-underline underline-hover" href="https://intranet.chicagobooth.edu/pub/coursesearch/CourseDetail?AcademicYear=2017&CourseNumber=34103">Building the New Venture</a>.
          </p>
          <p class="lh-copy ma0 pb3">
            Access to this website is granted on an invite-only basis. If you do not have an account, please contact <a class="blue no-underline underline-hover" href="mailto:help@bnv.io">help@bnv.io</a>.
          </p>
          <p class="lh-copy ma0 pb3">
            The <a class="blue no-underline underline-hover" href="https://github.com/polskycenter/bnv-api">RESTful HTTP API</a> and <a class="blue no-underline underline-hover" href="https://github.com/polskycenter/bnv-web">web client</a> are open source projects available on GitHub. The rocket logo is derived from <a class="blue no-underline underline-hover" href="https://creativecommons.org/licenses/by/3.0/us/">Creative Commons</a> art created by <a class="blue no-underline underline-hover" href="https://thenounproject.com/Chamedesign/">Chameleon Design from Noun Project</a>.
          </p>
        </form>
      <% } %>
    </div>
  </body>
</html>
